/* =============== CONTENTS =============== */
/* FONTS */
/* BOX-SIZING */
/* GLOBAL STYLES */
/* HELPER / GLOBAL COMPONENTS */
/* MEDIA QUERIES */



/*------------------------------------*\
  #FONT-FACE
\*------------------------------------*/
/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src:
        url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/raleway-v22-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src:
        url('../fonts/raleway-v22-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/raleway-v22-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v27-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}



/*------------------------------------*\
    #GLOBAL-STYLES
  \*------------------------------------*/

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #181f21;
    color: #fff;
}

img {
    max-width: 100%;
}



/*------------------------------------*\
    #HELPER / GLOBAL COMPONENTS
  \*------------------------------------*/

/* VISUALLY HIDING CODE */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container {
    margin: 24px 18px;

}

.header {
    justify-content: space-between;
    text-align: center;
    display: flex;
}

.header__img {
    margin-top: 24px;
}



.header__list {
    padding: 0;
    margin: 0;
    display: flex;
    line-height: 14px;
}

.header__item {
    padding: 0;

    list-style-type: none;
    margin-left: 18px;
}

.header__link {
    color: #fff;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
}

.main__img {
    margin: 53px 35px 33px 36px;
}

.main__content {
    text-align: center;
}

.main__item {
    font-size: 24px;
    line-height: 36px;
}

.main__text {
    font-family: OpenSans;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 32px;
}

.main__link {
    text-decoration: none;
    color: #fff;
    padding: 16px 81px;
    background: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
    border-radius: 24px;
}

.main__content__second {
    margin-top: 15px;
    text-align: center;

}

.second__item {
    font-size: 18px;
    line-height: 24px;
}

.second__text {
    font-family: "OpenSans";
    font-size: 14px;
    line-height: 21px;
}

.second__img {
    margin: 75px;
}

.three__img {
    margin-top: 160px;
}

.three__item {
    margin: 38px 0 16px 0;
    font-size: 18px;
    line-height: 24px;
}

.three_text {
    margin: 16px 0 16px 0;
    font-family: "OpenSans";
    font-size: 14px;
    line-height: 21px;
}


.content__link_img{
    margin-bottom: 150px;
    display: flex;


}

.three__link {
    margin-bottom: -4px;
    text-decoration: none;
    padding-right: 8px;
    font-family: "OpenSans";
    font-size: 12px;
    line-height: 14px;
    color: #62E0D9;
    border-bottom: solid 1px #62E0D9;

}


.four__block {
    margin-bottom: 24px;
   padding: 24px 20px 21px 20px;
   background: #202A3C;
    box-shadow: 0px 0px 8px rgba(56, 56, 56, 0.0458843);
    border-radius: 3.93258px;

}

 .four__content {
     margin: 0;
     display: flex;
 }


 .four__avatar{
     margin-top: 17px;
    display: flex;

 }

 .four__text {
    font-family: "OpenSans";
    font-size: 10px;
    line-height: 18px;
 }

.four__item {
    margin: 0;
    font-family: "OpenSans";
    font-size: 10px;
    line-height: 12px;
}



.four__texts_block {
    margin: 0;
    font-family: OpenSans;
    font-size: 7px;
    line-height: 10px;
}

.four__last{
    margin-left: 8px;
}